/* header {
    background-color: #d8f30ca5;
    padding: 20px;
    text-align: left;
    width: 100%;
    box-shadow: 0 2px 50px rgb(216, 51, 164);
    display: flex;
    align-items: center;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
    color:rgb(5, 5, 5);
    margin-left: 20px;

}

header img {
    width: 100px;
    height: auto;
} */
 /* Header.css */
header {
    background-color: #d8f30ca5;
    color: white;
    padding: 20px;
    width: 100%;
    box-shadow: 0 0px 10px rgba(120, 215, 24, 0.685);
    display: flex;
    align-items: center;
    position: relative;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
    color:rgb(5, 5, 5);
    margin-left: 20px;
}

header img {
    width: 100px;
    height: auto;
}
